* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Removed the class ".header" for all the .headers below */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}


header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Changed from content to main*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Moved up to here from search-engine-optimization to social-media-marketing from down below to make it make sequential sense*/
/* Combined three divs that were the same into just one div. And then I changed that div to a section. */
 
section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* There used to be three classes that were named differently but had the same height. I combined all three into one. And then I added the height requirement to this section below because it related to the section. I also ensured to make it go "section img" so the requirement applied to img.*/
section img {
    max-height: 200px;
}

/* Moved float-left and float-right down so that they are sequential.*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Combined three h2 requirements into one because they were all the same. Added section before h2.*/
section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Changed to aside.*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Combined 3 css requirements that were the same into one. Also changed this to aside.*/
section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Combined 3 css requirements that were the same into one. Added section to h3.*/
section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Combined 3 css requirements that were the same into one. Added section to img.*/
section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Changed to just footer.*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Changed to just footer.*/
footer h2 {
    font-size: 20px;
}
